@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/raleway-v19-latin-700.eot");
    src: local(""), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin-700.woff") format("woff");
    font-display: swap;
}

:root {
    --main-text-cl: #212121;
    --tittle-cl: #2196f3;
    --alt-text-cl: #757575;
    --alt-tittle-cl: #ffffff;
    --text-footer: rgba(255, 255, 255, 0.6);
    --label-text: #000000;

    --footer-bg: #2f303a;
    --second-bg: #f5f4fa;
    --button-bg: #2196f3;
    --box-border-bg: #eeeeee;
    --header-boerder-bg: #ececec;
    --card-bg: #ffffff;

    --main-font: "Roboto", sans-serif;
    --tittle-font: "Raleway", sans-serif;
}
body {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: var(--main-text-cl);
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
h1,
h2,
h3,
p {
    margin-top: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.page-header .container {
    display: flex;
    align-items: center;
}
.page-header {
    padding-top: 24px;
    padding-bottom: 25px;
    border: 1px solid var(--header-boerder-bg);
}

.page-header .header-item {
    margin-left: 331px;
    margin-right: 50px;
}
.menu-item:not(:last-child) {
    margin-right: 50px;
}
.logo {
    display: inline-block;
    margin-right: 93px;
}
.menu {
    display: inline-flex;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px 1px 1px 1px);
    padding: 0 !important;
    border: 0 !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden;
}
.link {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.link .link-current {
    color: var(--tittle-cl);
}
.fotter-address {
    color: var(--text-footer);
}
.link-current {
    color: var(--tittle-cl);
}
.link:hover,
.link:focus {
    color: var(--tittle-cl);
}
.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.address {
    font-style: inherit;
}
.link-address {
    color: var(--alt-tittle-cl);
}
.btn {
    padding: 6px 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--main-text-cl);
    background-color: var(--second-bg);
    border: none;
}
.btn:hover,
.btn:focus {
    background-color: var(--button-bg);
    color: var(--alt-tittle-cl);
}
.btn-item {
    margin-top: 30px;
    padding-bottom: 200px;
}
.btn-list {
    align-items: center;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 50px;
}
.pointer {
    cursor: pointer;
}
.page-tittle {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 200px;
    margin: 0;
}
.section-tittle {
    text-align: center;
    margin-bottom: 50px;
    font-family: var(--main-font);
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}
.label {
    font-family: var(--tittle-font);
    color: var(--main-text-cl);
}
.label-second {
    color: var(--tittle-cl);
    font-size: 26px;
    line-height: 1.19;
    font-weight: bold;
    letter-spacing: 0.03em;
}
.label-third {
    color: var(--main-text-cl);
    font-size: 26px;
    line-height: 1.19;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: var(--label-text);
}
.serv-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 120px) / 4);
}
.service-item {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.03em;
}

.service-text {
    color: var(--alt-text-cl);
    letter-spacing: 0.03em;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.services {
    padding-top: 94px;
}
.card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.item {
    margin-left: 30px;
    margin-top: 30px;
}
.team {
    background-color: var(--second-bg);
}

.team-item {
    text-align: center;
    flex-basis: calc((100% - 120px) / 4);
    background: var(--card-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    max-width: 270px;
    max-height: 368px;
}

.team-item-name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.team-position {
    margin-bottom: 30px;
    color: var(--alt-text-cl);
    letter-spacing: 0.03em;
}
.products-item {
    flex-basis: calc((100% - 90px) / 3);
}
.product-list-item {
    letter-spacing: 0.03em;
    flex-basis: calc((100% - 90px) / 3);
    background: var(--card-bg);
    max-width: 370px;
    min-height: 404px;
}

.products-list {
    padding-bottom: 94px;
}
.card {
    background: var(--card-bg);
    padding: 20px 24px 24px 20px;
    border: 1px solid var(--box-border-bg);
    border-top: none;
}
.product-item {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    font-weight: bold;
    color: var(--main-text-cl);
    text-align: start;
    margin-bottom: 4px;
}

.product-section {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--alt-text-cl);
    text-align: start;
    margin: 0;
}
.footer-label {
    padding-top: 20px;
    display: flex;
}
.footer-item {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-list:not(:last-child) {
    margin-bottom: 9px;
}

.dark-bg {
    background-color: var(--footer-bg);
    color: var(--text-footer);
}

.dark-bg .page-tittle {
    color: var(--alt-tittle-cl);
    align-content: center;
}
.dark-bg .label-third {
    color: var(--alt-tittle-cl);
}
.dark-bg .btn {
    padding: 10px 32px;
    margin: 30px 500px 200px 500px;
    color: var(--alt-tittle-cl);
    background-color: var(--button-bg);
}
.dark-bg .footer-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
